.root {
    -fx-background-image: url("background.jpg");
}

#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #ffffff;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
}

#label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffffff, #888888);
}

.button:hover {
    -fx-background-color: linear-gradient(#888888, #ffffff);
}